*{
    margin : 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: rgb(147, 31, 242);
}

.item{
    width: 400px;
    height: 400px;
    
    background-color: rgba(141, 196, 250, 0.788);
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.253);
    padding: 20px;
}

.search-container{
    width: 100%;
    margin-top: 30px;
    
    display: flex;
    justify-content: space-between;
}

.search-container input{
    width: 70%;
    padding: 10px;

    border-radius: 5px;
    border: none;
    outline: none;

    background-color: transparent;
    color: white;
    font-size: 18px;

    border-bottom: 5px solid rgb(147, 31, 242);
}

.search-container button{
    width: 25%;
    border-radius: 5px;

    border: none;
    outline: none;

    font-size: 14px;

    background-color: rgba(155, 38, 252, 0.772);
    color: rgba(255, 255, 255, 0.696)
}

.circle-container{
    display: flex;
    justify-content: space-around;
}

.circle-1{
    position: relative;
    top: 50px;
    left: 20px;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(105, 208, 248, 0.329), rgba(242, 245, 238, 0.555));
}

.circle-2{
    position: relative;
    top: 20px;
    left: 30px;

    width: 500px;
    height:500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(105, 208, 248, 0.329), rgba(242, 245, 238, 0.555));
}

.x {
    position: relative;
    width: 250px;
    height: 250px;

    left: 150px;
    bottom: 100px;
  }

.x::before,
.x::after {
    content: '';
    position: absolute;

    height:200px;
    width: 45px;
    background-color: rgb(28, 214, 243);
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.city{
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    font-family: 'Cabin', sans-serif;

    font-size: 40px;
    color: rgba(9, 29, 245, 0.635)
}

.weather
{
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    color: rgba(137, 3, 139, 0.548)
}

.temp-1
{
    font-size: 30px;
    margin: 40px 0 30px 0;

    font-family: 'Cabin', sans-serif;

    display: flex;
    justify-content: center;
}

.temp-container
{
    display: flex;
    justify-content: center;
}

.temp-container div{
    padding: 0.3em 1em;
}

.temp-container div:first-child{
    border-right: 1px solid rgba(240, 234, 244, 0.701);
}

.temp-max{
    font-family: 'Cabin', sans-serif;
}

.temp-min{
    font-family: 'Cabin', sans-serif;
}

.temp-container .title{
    font-weight: 600px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.724)
}

.msg
{
    color:rgba(255, 255, 255, 0.724);
    text-transform: uppercase;

    font-weight: 500;
    letter-spacing: 0.1em;
}

.error
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    position: relative;
    top: 70px;

    font-size: medium;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    color:rgba(0, 0, 0, 0.824)
}

.triangle-1{
    position: absolute;
    left: 500px;
    top: 130px;

    
    border-style: solid;
    border-width: 0 70px 70px 70px;
    border-color: transparent transparent rgba(215, 184, 241, 0.605);
  }
  
.triangle-2{
    position: absolute;
    right: 500px;
    bottom: 130px;

    rotate: 180deg;

    border-style: solid;
    border-width: 0 70px 70px 70px;
    border-color: transparent transparent rgba(215, 184, 241, 0.605);
}


  


