*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: rgba(218, 215, 212, 0.5);
    height: 100%;
    background-image: url("geometric.png");
}

.heading
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    
    background-color: rgb(14, 126, 4);
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    margin-bottom: 30px;

    font-family: 'Poppins', sans-serif;
}

.heading b{
    font-size: 40px;
}

.search
{
    margin-top: 5em;

    display: flex;
    justify-content: space-around;

    margin-bottom: 0.5em;
    
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
}

.center-input
{
    display: flex;
    justify-content: center;
}

.surah
{
    width: 40%;  
}

.surah input{
    border-radius: 8px;
    width: 80%;
    
    padding: 12px;
    margin-bottom: 10px;
    border: none;   
    border-left: 5px solid green;

    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.201);

    text-align: center;
}

.surah-input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.surah h4
{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

.aayah
{   
    width: 40%;
}

.aayah input{
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;   
    width: 80%; 
    
    margin-bottom: 10px;
    
    padding: 12px;
    border: none;   
    border-left: 5px solid green;

    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.201);

    text-align: center;
}

.aayah-input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif; 
    text-align: left;
}

.aayah h4{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    
    margin-top: 10px;
    margin-bottom: 10px;

    color: black;
}

.input-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn
{
    width: 120px;
    height: 50%;

    margin-top: 40px;

    border: none;
    border-radius: 8px;

    background-color: rgb(14, 126, 4);
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.201);
    cursor: pointer;
}

button:hover{
    background-color: darkslateblue;
}

.arabic-script-container
{
    width: 90%;

    border-left: 8px solid rgb(4, 82, 5); 
    border-right: 8px solid rgb(4, 82, 5);
    border-radius: 8px;

    display: flex;
    justify-content: center;

    margin-top: 70px;
    margin-bottom: 40px;
    padding: 10px;
}

.arabic-script
{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.468);
    
    color: rgba(2, 69, 28, 0.71);
    font-size: 30px;
    
    font-family: 'Amiri', serif;
    word-spacing: 2.3px;
    text-align: right;
}

.english-translation-container
{
    width: 90%;

    border-left: 8px solid rgb(4, 82, 5); 
    border-right: 8px solid rgb(4, 82, 5);
    border-radius: 8px;

    display: flex;
    justify-content: center;

    margin-bottom: 40px;
    padding: 10px;

    word-spacing: 3px;
}

.english-translation
{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.468);
    
    color: rgba(2, 69, 28, 0.71);
    font-size: 20px;
    
    font-family: 'Amiri', serif;
    text-align: center;
}

.quran-arabic-and-english
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

footer{
    background-color: rgb(14, 126, 4);

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 50px;  

   color: rgba(255, 255, 255, 0.564);

   
   font-family: 'Poppins', sans-serif;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom b{
    color: rgba(255, 255, 255, 0.749);
}


